/* CONTAINER */
.a-container {
    margin-top: 0px;
    margin-bottom: -30px;
  }
  
  .header-perawatan {
    margin-bottom: -40px;
    margin-top: 70px;
  }
  
  .a-text {
    color: #6a3c1a;
    font-weight: bold;
    font-size: 35px;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    font-weight: 700;
  }
  
  #a-text-subtitle {
    line-height: 150%;
    text-align: center;
    padding-bottom: 40px;
  }
  
  .card-hemi p {
      margin-right: 10px;
      font-size: 16px;
      line-height: 30px;
      color: #393939;
  }

  .hemi-detail {
    margin-top: -27px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 30px;
    color: #393939;
    padding-left: 40px;
    padding-right: 40px;
  }

  .img-hemi {
    margin-left: 0px;
}

/* CONTAINER WARNING */
.card-warning h3 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 40px;
    text-align: center;
    padding : 30px;
    padding-bottom: 0;
    font-weight: 500;
}

.card-warning {
    width: 100%;
    background-color: #E45A5A;
    min-height: 100px;
    border-radius: 10px;
    margin-top: -20px;
    justify-content: center;
}

.card-warning img {
}
