/* CONTAINER UPLOAD CONTENT */

.post-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure it appears in the flow of the document */
  z-index: 10; /* Ensure it is above other elements */
}

.absolute {
  position: relative;
}

.new-post {
  cursor: pointer;
  margin-bottom: 20px;
}

.app {
    font-family: Arial, sans-serif;
    max-width: 1000px;
  }
  
  .new-post {
    background-color:#eca548;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
    max-width: 1000px;
  }
  
  .new-post:hover {
    background-color:#dd9537;
    color: #fff;
  }
  
  .post-form {
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group input[type="file"] {
    width: 50%;
  }
  
  button {
    color: #fff;
    background-color: #a36332;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5e3313;
  }
  
/* CONTAINER FORUM */
.container-forum {
  background-color: #fff8f1;
  border-radius: 5px;
  padding: 30px 40px;
  position: sticky;
}

.forum-icon {
  height: auto;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.forum-title {
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.forum-subtitle {
  font-size: 14px;
  padding-bottom: 5px;
  color: #636363;
}

.forum-title h4 {
  color: #220f00;
  text-align: center;
}

.forum-desc p {
  text-align: center;
  font-size: 14px;
  line-height: 135%;
  color: #222222;
}

.forum-desc2 p {
  text-align: left;
  font-size: 12px;
  line-height: 135%;
  color: #636363;
}

/* CONTAINER LIST POSTINGAN */
.post-author h5 {
  color: #2c1101;
}

.list-post {
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.post-title {
  text-align: left;
  padding-bottom: 5px;
}

#post-img {
  max-width: 30%;
  height: auto;
  margin-bottom: 30px;
  border-radius: 10px;
}

.post-comment {
  margin-top: 10px;
}

/* FORUM COMMENT */
.comment-name {
  max-width: 23%;
  margin-right: 10px;
  background-color: #fbfbfb;
  border: #222222;
}

.comment-desc {
  max-width: 60%;
  margin-right: 10px;
  background-color: #fbfbfb;
  border: #222222;
}

.new-comment {
  margin-top: 5px;
  border: #fff;
  max-width: 30%;
  border-radius: 10px;
}