/* CONTAINER UPLOAD CONTENT */
.post-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensure it appears in the flow of the document */
  z-index: 10; /* Ensure it is above other elements */
}

.category {
  padding: 10px;
}

.absolute {
  position: relative;
}

.app {
    font-family: Arial, sans-serif;
    max-width: 1000px;
  }
  
.new-post1, .new-post2, .new-post3 {
  margin-bottom: 20px;
}
  .new-post1 {
    background-color:#ffb115;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
    max-width: 1000px;
  }

  .new-post2 {
    background-color:#8d5200;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
    max-width: 1000px;
  }

  .new-post3 {
    background-color:#E45A5A;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
    max-width: 1000px;
  }
  
  .post-form {
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group input[type="file"] {
    width: 50%;
  }
  
  button {
    color: #fff;
    background-color: #a36332;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5e3313;
  }
  
/* CONTAINER FORUM */
/* CARD UMUM */
h4 {
  color: #262626;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;

  &.small {
    font-size: 14px;
  }
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #ffb115;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  max-width: 350px;
  background-color: #fffaf0;
  border-radius: 4px;
  padding: 32px 24px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
  margin-top: 0px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #ffb115;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

.card1:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  h4 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}

/* CARD MAKANAN */
h4 {
  color: #262626;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;

  &.small {
    font-size: 14px;
  }
}

.go-corner2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #8d5200;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card2 {
  display: block;
  position: relative;
  max-width: 350px;
  background-color: #fff9f4;
  border-radius: 4px;
  padding: 32px 24px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
  margin-top: 0px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #8d5200;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

.card2:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  h4 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}

/* CARD PERAWATAN */
h4 {
  color: #262626;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;

  &.small {
    font-size: 14px;
  }
}

.go-corner3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #E45A5A;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card3 {
  display: block;
  position: relative;
  max-width: 350px;
  background-color: #fff8f8;
  border-radius: 4px;
  padding: 32px 24px;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 12px;
  margin-top: 0px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #E45A5A;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(21);
  }
}

.card3:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  h4 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}

/* CONTAINER LIST POSTINGAN */
.post-author h5 {
  color: #2c1101;
}

.list-post {
    background-color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.post-title {
  text-align: left;
  padding-bottom: 5px;
}

.post-desc {
  font-size: 16px;
}

#post-img {
  max-width: 30%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post-comment {
  margin-top: 10px;
  font-size: 16px;
}

/* FORUM COMMENT */
.show-comment {
  margin-top: 20px;
  font-size: 14px !important;
}

.comment-name {
  max-width: 23%;
  margin-right: 10px;
  background-color: #fbfbfb;
  border: #222222;
}

.comment-desc {
  max-width: 60%;
  margin-right: 10px;
  background-color: #fbfbfb;
  border: #222222;
}

.new-comment {
  margin-top: 5px;
  border: #fff;
  max-width: 100%;
  border-radius: 10px;
}

  /* Mobiles */
  @media (max-width: 767px) {
    .Character,
    .Character2 {
      display: none;
    }
    .hero-text {
      margin-top: 40px !important;
      margin-left: 20px !important;
    }
    /* font */
    p {
      font-size: 14px !important;
    }
    h3 {
      font-size: 20px !important;
    }
    h2 {
      font-size: 22px !important;
    }
    h1 {
      font-size: 26px !important;
    }
    .btn {
      font-size: 14px !important;
    }
    /* classes */
    .card1 {
      max-width: 100%;
      margin-top: 20px;
    }
    .card2 {
      max-width: 100%
    }
    .card3 {
      max-width: 100%;
    }
    .comment-name {
      max-width: 100%;
    }
    .comment-desc {
      max-width: 100%;
    }
    .new-comment {
     width: 450px !important;
    }
    .input-gambar {
      width: 100% !important;
    }
    /* container */
    .a-container {
      padding: 0;
      margin-bottom: 50px !important;
    }
  }