  /* CONTAINER */
  .a-container {
    margin-top: 0px;
    margin-bottom: -30px;
  }
  
  .header-perawatan {
    margin-bottom: -40px;
    margin-top: 70px;
  }
  
  .a-text {
    color: #6a3c1a;
    font-weight: bold;
    font-size: 35px;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    font-weight: 700;
  }
  
  #a-text-subtitle {
    line-height: 150%;
    text-align: center;
    padding-bottom: 40px;
  }
  
  .card-hemi p {
      margin-right: 10px;
      font-size: 16px;
      line-height: 30px;
      color: #393939;
  }

  .hemi-detail {
    margin-top: -27px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 30px;
    color: #393939;
    padding-left: 40px;
    padding-right: 40px;
  }

  .img-hemi {
    margin-left: 0px;
}
  
  /* CONTAINER HEADER MAKANAN */
  .card-header h3 {
      font-size: 28px;
      color: #1D1D1D;
      margin-bottom: 45px;
      padding-left: 40px;
      padding-top: 40px;
    }
    
    .card-header {
      width: 100%;
      background-color: #FAFAFA;
      border-radius: 20px;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    
    .card-header img {
        max-width: 100%;
        height: auto;
        margin: 0px;
        float: left;
    }

  /* CARD MAKANAN */
  .row-makanan {
    margin-bottom: 50px;
  }

  .card-makanan {
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .card-makanan img {
      max-width: 100%;
      height: auto;
      margin: 0px;
      float: left;
  }

  .makanan-detail p {
    font-size: 16px;
  }

  /* .makanan-detail h3 {
    color: #1D1D1D;
  } */

