  /* CONTAINER */
  .a-container {
    margin-top: 0px;
    margin-bottom: -30px;
  }
  
  .header-perawatan {
    margin-bottom: -40px;
    margin-top: 70px;
  }
  
  .a-text {
    color: #6a3c1a;
    font-weight: bold;
    font-size: 35px;
    justify-content: center;
    padding: 10px 0px 0px 0px;
    font-weight: 700;
  }
  
  #a-text-subtitle {
    line-height: 150%;
    text-align: center;
    padding-bottom: 40px;
  }
  
  .card-hemi p {
      margin-right: 10px;
      font-size: 16px;
      line-height: 30px;
      color: #393939;
  }

  .hemi-detail {
    margin-top: -27px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 30px;
    color: #393939;
    padding-left: 40px;
    padding-right: 40px;
  }

  .hemi-detail p {
    text-align: justify !important;
  }

  .img-hemi {
    margin-left: 0px;
}
  
  /* CONTAINER HEADER MAKANAN */
  .card-header h3 {
      font-size: 28px;
      color: #1D1D1D;
      margin-bottom: 45px;
      padding-left: 40px;
      padding-top: 40px;
    }
    
    .card-header {
      width: 100%;
      background-color: #FAFAFA;
      border-radius: 20px;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    
    .card-header img {
        max-width: 100%;
        height: auto;
        margin: 0px;
        float: left;
    }

  /* CARD MAKANAN */
  .row-makanan {
    margin-bottom: 50px;
  }

  .card-makanan {
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .card-makanan img {
      max-width: 100%;
      height: auto;
      margin: 0px;
      float: left;
  }

  .makanan-detail p {
    font-size: 16px;
  }

  /* .makanan-detail h3 {
    color: #1D1D1D;
  } */

      /* Mobiles */
@media (max-width: 767px) {
  .Character,
  .Character2 {
    display: none;
  }
  .hero-text {
    margin-top: 40px !important;
    margin-left: 20px !important;
  }
  /* font */
  p {
    font-size: 14px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  h1 {
    font-size: 26px !important;
  }
  .btn {
    font-size: 14px !important;
  }
  /* classes */
.img-header-makanan {
  max-width: 100%;
}
.img-hemi-makan {
  max-width: 250px !important;
  margin-left: 120px !important;
}
.makanan-detail{
  text-align: center;
  margin: 40px;
}
.row-makanan {
  margin-bottom: 0px;
}
  /* container */
  .a-container {
    padding: 0;
    margin-bottom: 50px !important;
  }
  .card-introduction {
    margin-bottom: 100px;
  }
}

